<header>
    <h1>Dad's Jokes</h1>
    <div style="display: flex">
        <a href="http://localhost:3001/">
            <button class="btn btn-secondary">All</button>
        </a>
        &nbsp;
        <a href="http://localhost:3001/random">
            <button class="btn btn-secondary">Random</button>
        </a>
    </div>
</header>