<div id="scrollable">
    <div id="movies-content">
            <%for (i in movies) { %>
        <div>
            <div class="card movie">
                <div class="movie-card-image">
                    <img class="card-img-top" src="<%=movies[i]['image']%>">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%=movies[i]['title']%></h5>
                    <p class="card-text"></p>
                    <% var lien = "http://localhost:3001/movies/"+ movies[i]['id']%>
                    <a class="btn btn-dark btn-sm" href="<%=lien%>">More</a>
                </div>
            </div>
        </div>
            <% } %>
    </div>
</div>