<div class="card movie" style="width: 80%">
    <div class="card-body" style="display: flex;justify-content: space-between; align-items: baseline">
        <h5 class="card-title"><%=movie['title']%></h5>
        <a class="btn" href="http://localhost:3001/movies">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
            </svg>
        </a>
    </div>
    <div class="movie-infos-image">
        <img class="card-img-top" src="<%=movie['image']%>">
    </div>
    <div class="card-body">
        <p class="card-text">
            <%=movie['synopsis']%>
        </p>
        <div style="display: flex ; justify-content: space-between">
            <a href="<%= "http://localhost:3001/movies/update/"+movie['id']%>" class="btn btn-dark btn-sm">Edit</a>
            <button href="<%= "http://localhost:3001/movies/delete/"+movie['id']%>" class="btn btn-danger btn-sm" style="background-color: #dc3545;border-color: #dc3545;color: #fff;">Delete</button>
        </div>
    </div>
</div>