<%# Récupération des données%>
<%
var identification
if (data != undefined){
    identification = data.identification
}
%>

<header>
    <div id="mark"> Mark III</div>
    <div id="main-title"> Jarvis Interface</div>
    <% if (identification == undefined || identification == false ) {%>
    <div id="log-button">
        <a href="/login">
            <button class="btn btn-primary">
                LOGIN
            </button>
        </a>
    </div>
    <% } else {%>
    <% data.identification = false %>
        <div id="log-button">
            <a href="/logout">
                <button class="btn btn-primary">
                    LOGOUT
                </button>
            </a>
        </div>
    <% } %>
</header>