<%# Récupération des données%>
<%
    var username = undefined
    var password = undefined
    if (data != undefined){
         username = data.username
        password = data.password
    }
%>
<%# Si les identifiants sont valides : %>
<%
if (username == 'stark' && password == 'warmachinerox') {
    data.identification = true
%>
<h1 id="welcome">
    Welcome Tony
</h1>
<%# Sinon, page de login : %>
<% } else {%>
<form id="login-form" class="magic-card" method="post" action="/login">
    <legend style="text-align: center">Please Login</legend>
    <div class="form-group">
        <input type="text" name="username" placeholder="username" <% if (username != undefined) { %> value=<%= username %> <% } %>>
        <% if (username == "") { %>
            <div class="error">Username should not be empty</div>
        <% } %>
        <input type="password" name="password" placeholder="password" <% if (password != undefined) { %> value=<%= password %> <% } %>>
        <% if (password == "") { %>
            <div class="error">Password should not be empty</div>
        <% } %>
    </div>
    <button class="btn btn-primary" type="submit">LOGIN</button>
    <% if (username != undefined || password != undefined) { %>
    <div class="error" style="text-align: center;">Bad Credentials</div>
    <% } %>
</form>
<% } %>