<footer>
    <div>
        Les images de ce site proviennent de
        <a href="https://fr.freepik.com/" target="_blank">Freepik</a>
         et
        <a href="https://www.allocine.fr/" target="_blank">Allocine</a>
    </div>
</footer>