<header>
    <div id="main-title">
        <a href="/">
            BEST OLD MOVIES
        </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-dark" href="/" aria-current="page"> Home</a>
        <a class="btn btn-dark" href="/movies" aria-current="page"> List</a>
        <a class="btn btn-dark" href="/movies/create" aria-current="page"> Create</a>
    </div>
</header>