*{
    box-sizing: border-box;
}

html,body{
    height:100%;
}

body{
    background: url("../images/jarvis.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Unica One',cursive;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

header,footer{
    height: 100px;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color:#0d6efd;
    text-decoration: underline;
}

legend{
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    line-height: inherit;
    font-size: 1.5rem;
}

legend + *{
    clear: left;
}

button, input, select, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.btn{
    display:inline-block;
    font-weight: 400;
    line-height:1.5;
    color:#212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px transparent;
    padding:.375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: button;
    text-transform: none;
    margin: 0;
    font-family: inherit;
}

.btn-primary{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-secondary{
    color:#fff;
    background-color: #6c757d;
    border-color:#6c757d;
}

.error{
    color: orangered;
}

#main-content{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mark, #log-button{
    width: 80px;
    margin: 0 10px;
}

#main-title{
    color: white;
    font-size: 3em;
    letter-spacing: 0.3em;
}

#login-form{
    border-radius: 3px;
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

#login-form, #error{
    width: 300px;
}

#login-form input{
    width: 100%;
    margin-top: 20px;
}

#welcome{
    font-size: 4em !important;
    color: limegreen;
}