*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    height:100%;
    background: black;
    font-family:'Architects Daughter',cursive;
}

body{
    max-width: 850px;
    margin: auto;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header,footer{
    min-height:50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:lightslategrey;
    color: black;
}

footer{
    justify-content: center;
}

h1{
    font-size:2.5rem;
    margin-top:0;
    margin-bottom:0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

a{
    color: black;
    text-decoration: none !important;
}

.btn{
    display:inline-block;
    font-weight: 400;
    line-height:1.5;
    color:#212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px transparent;
    padding:.375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: button;
    text-transform: none;
    margin: 0;
    font-family: inherit;
}

.btn-secondary{
    color:#fff;
    background-color: #6c757d;
    border-color:#6c757d;
}

#content{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}

#content .scrollable{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#jokes{
    width:100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.joke{
    margin: 5px 0;
    background: gainsboro;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
    font-size: 1em;
}

.joke:hover{
    box-shadow: 4px 4px 10px black;
}