<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TP1 Jokes</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<%- include('../partials/head')%>

<div id="content">
    <div class="scrollable">
        <%- body %>
    </div>
</div>

<%- include('../partials/foot')%>

</body>
</html>