html,body{
    margin: 0;
    height:100%;
}

body{
    display:flex;
    flex-direction: column;
    text-align: center;
}

header,footer{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:lightslategrey;
    color:white;
}

#content{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: left;
}

#content .scrollable{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

img{
    margin: 10px;
    width: 350px;
}

#haut_page {
    background-color: darkgrey;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 50px;
}

#boutondroite {
    position: fixed;
    right:10px;
}

#titreheader {
    position: fixed;
    left: 10px;
}