<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test EJS</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<p>Ceci est ma première page en EJS !</p>

<h1> Bonjour
    <% if (typeof user !== 'undefined') {%>
        <%= user %>
    <%} else {%>
         bel(le) inconnu(e)
    <% } %>
</h1>

</body>
</html>