<%
 //Verification de l'existence d'une variable user
 user = typeof user!=='undefined' ? user : 'bel(le) inconnu(e)'
 %>

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test EJS</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<p>Ceci est ma première page en EJS !</p>

<h1> Bonjour <%= user %></h1>

</body>
</html>