<%- include('../partials/head')%>

<% if (typeof user !== 'undefined'){
    if(typeof user.nickname !== 'undefined'){
        nickname = user.nickname
    }
    if(typeof user.sex !== 'undefined'){
        sex = user.sex
    }
   }
%>

<p>Ceci est ma première page en EJS !</p>

<h1> Bonjour
    <% if (typeof nickname !== 'undefined') {%>
        <% if (typeof sex !== 'undefined') {%>
            <% if(sex == 'homme'){ %>
                Mr <%= nickname %>
            <% }else if(sex == 'femme'){ %>
                Mme <%=nickname%>
            <% } %>
        <% }else{%>
            <%=nickname%>
        <% } %>
    <%} else {%>
        <% if (typeof sex !== 'undefined') {%>
            <% if(sex == 'homme'){ %>
                bel inconnu
            <% }else if(sex == 'femme'){ %>
                belle inconnue
            <% } %>
        <% }else{%>
            bel(le) inconnu(e)
        <% } %>
    <% } %>
</h1>

<%- include('../partials/foot')%>