<div id="movies">
    <ul>
        <% for (i in movies) { %>
            <% console.log(movies[i])%>
            <div id="tableau_movies">
                <NOBR id="titre"><%= movies[i]['title'] %></NOBR>
                <br>
                <NOBR id="synopsis"><%= movies[i]['synopsis']%></NOBR>
            </div>
            <hr>
        <% } %>
    </ul>
</div>