<header>
    <div id="main-title">
        <a href="/">
            BEST OLD MOVIES
        </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-primary" href="http://localhost:3001/" aria-current="page"> Accueil</a>
        <a class="btn btn-primary" href="http://localhost:3001/movies" aria-current="page"> Films</a>
    </div>
</header>