<form action="/form" method="POST">
    <div style="flex-direction: row; align-items: center">
        <div class="col-auto">
            <label for="firstname" class="form-label">Prénom</label>
        </div>
        <div class="col-auto">
            <input type="text" id="firstname" name="firstname" class="form-control">
        </div>

        <div class="col-auto">
            <label for="lastname" class="form-label">Nom</label>
        </div>
        <div class="col-auto">
            <input type="text" id="lastname" name="lastname" class="form-control">
        </div>

        <div class="col-auto">
            <button type="submit" name="button" value="bouton_01" class="btn">
                Submit
            </button>
        </div>
    </div>
</form>