*{
    box-sizing: border-box;
}

html,body{
    margin:0;
    height: 100%;
    font-family: 'Fredoka One',cursive;
}

html{
    background: black;
}

body{
    max-width: 950px;
    margin: 0 auto;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:1rem;
    font-weight:400;
    line-height: 1.5;
    color:#212529;
}

header,footer{
    height: 50px;
    margin: 2px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkred;
    color: white;
}

header{
    height: 100px;
    justify-content: space-between;
    background: url("../images/cine_strip.jpg");
    background-size: cover;
    background-position-y: 90%;
    font-size:1.5em
}

header > * {
    margin: 0px 5px;
}

footer{
    background: url("../images/cine_strip.jpg");
    background-size: cover;
    background-position-y: 42%;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

ul{
    margin-top:0;
    margin-bottom:1rem;
    padding-left:2rem;
}

.btn{
    display:inline-block;
    font-weight: 400;
    line-height:1.5;
    color:#212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px transparent;
    padding:.375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: button;
    text-transform: none;
    margin: 0;
    font-family: inherit;
}

.btn-primary{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-secondary{
    color:#fff;
    background-color: #6c757d;
    border-color:#6c757d;
}

.btn-group{
    position: relative;
    display: inline-flex;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    position: relative;
    flex: 1 1 auto;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > .btn-group:not(:first-child), .btn-group > .btn:not(:first-child){
    margin-left: -1px;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.error{
    color: orangered;
}

#main-title{
    font-size: 1.5em;
}

#content{
    padding: 10px;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    text-align:left;
}

#movies{
    width: 100%;
    overflow: auto;
    padding: 0px 15px;
}

#tableau_movies{
    display: flex;
    flex-direction: row;
}

#synopsis{
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}

#titre{
    min-width: 250px;
}

