<header>
    <h1 id="titreheader">
        Démo Routage Express
    </h1>
    <div id="boutondroite">
        <a href="http://localhost:3001/">
            <input type="button" value="Accueil">
        </a>
        <a href="http://localhost:3001/about">
            <input type="button" value="A propos">
        </a>
    </div>
</header>