<header>
    <div id="main-title">
        <a href="/">
            BEST OLD MOVIES
        </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-primary" href="http://localhost:3001/movies" aria-current="page"> /movies</a>
        <a class="btn btn-primary" href="http://localhost:3001/movies/create" aria-current="page"> /movies/create</a>
        <a class="btn btn-primary" href="http://localhost:3001/movies/read" aria-current="page"> /movies/read</a>
        <a class="btn btn-primary" href="http://localhost:3001/movies/update" aria-current="page"> /movies/update</a>
        <a class="btn btn-primary" href="http://localhost:3001/movies/delete" aria-current="page"> /movies/delete</a>
    </div>
</header>