<div id="jokes">
    <% for(const joke of jokes) {%>
    <% var lien = "http://localhost:3001/joke/" + joke['id']%>
        <a href=<%=lien%>>
            <div class="joke">
                <%= joke['joke']%>
            </div>
        </a>
    <%}%>
</div>